.website-wrapper {
  max-width: 1180px;
  margin: 0 auto;
  padding: 0 20px;
  width: 100%;
  font-size: 0;
}

.navigation-wrapper {
  max-width: 1424px;
  margin: 0 auto;
  padding: 0 20px;
  width: 100%;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  right: 0;
}

@media only screen and (min-width: 120px) and (max-width: 767px) {
  .navigation-wrapper {
    background-color: rgba(0, 0, 0, 0.8);
  }
}

.brand:before, .navigation-list:before, .hamburger:before, .products-section__modal-column:first-of-type:before, .brand:after, .navigation-list:after, .hamburger:after, .products-section__modal-column:first-of-type:after {
  content: " ";
  display: table;
}

.brand:after, .navigation-list:after, .hamburger:after, .products-section__modal-column:first-of-type:after {
  clear: both;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

[hidden*="true"],
[hidden*="hidden"] {
  display: none !important;
}

@font-face {
  font-family: "Roboto";
  src: url("../../app/fonts/Roboto-Regular.eot");
  src: url("../../app/fonts/Roboto-Regular.eot?#iefix") format("embedded-opentype"), url("../../app/fonts/Roboto-Regular.woff2") format("woff2"), url("../../app/fonts/Roboto-Regular.woff") format("woff"), url("../../app/fonts/Roboto-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto Condensed";
  src: url("../../app/fonts/RobotoCondensed-Regular.eot");
  src: url("../../app/fonts/RobotoCondensed-Regular.eot?#iefix") format("embedded-opentype"), url("../../app/fonts/RobotoCondensed-Regular.woff2") format("woff2"), url("../../app/fonts/RobotoCondensed-Regular.woff") format("woff"), url("../../app/fonts/RobotoCondensed-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("../../app/fonts/Montserrat-Regular.eot");
  src: url("../../app/fonts/Montserrat-Regular.eot?#iefix") format("embedded-opentype"), url("../../app/fonts/Montserrat-Regular.woff2") format("woff2"), url("../../app/fonts/Montserrat-Regular.woff") format("woff"), url("../../app/fonts/Montserrat-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("../../app/fonts/Montserrat-Black.eot");
  src: url("../../app/fonts/Montserrat-Black.eot?#iefix") format("embedded-opentype"), url("../../app/fonts/Montserrat-Black.woff2") format("woff2"), url("../../app/fonts/Montserrat-Black.woff") format("woff"), url("../../app/fonts/Montserrat-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("../../app/fonts/Montserrat-Bold.eot");
  src: url("../../app/fonts/Montserrat-Bold.eot?#iefix") format("embedded-opentype"), url("../../app/fonts/Montserrat-Bold.woff2") format("woff2"), url("../../app/fonts/Montserrat-Bold.woff") format("woff"), url("../../app/fonts/Montserrat-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("../../app/fonts/Montserrat-ExtraBold.eot");
  src: url("../../app/fonts/Montserrat-ExtraBold.eot?#iefix") format("embedded-opentype"), url("../../app/fonts/Montserrat-ExtraBold.woff2") format("woff2"), url("../../app/fonts/Montserrat-ExtraBold.woff") format("woff"), url("../../app/fonts/Montserrat-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

p,
a,
span,
li {
  font-size: 16px;
}

a {
  text-decoration: none;
  font-family: "Roboto Condensed", Helvetica, sans-serif;
}

span {
  font-family: "Roboto Condensed", Helvetica, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Montserrat, Helvetica, sans-serif;
  font-size: 22px;
}

p {
  font-family: Montserrat, Helvetica, sans-serif;
}

img {
  max-width: 100%;
  height: auto;
}

small {
  font-family: "Roboto Condensed", Helvetica, sans-serif;
  font-size: 14px;
  letter-spacing: 1px;
}

.captions {
  font-family: "Roboto Condensed", Helvetica, sans-serif;
  font-size: 11px;
  letter-spacing: 5.5px;
  color: #fa292c;
  text-transform: uppercase;
}

@font-face {
  font-family: "icomoon";
  src: url("../../app/icons/icomoon.eot?449xu8");
  src: url("../../app/icons/icomoon.eot?449xu8#iefix") format("embedded-opentype"), url("../../app/icons/icomoon.ttf?449xu8") format("truetype"), url("../../app/icons/icomoon.woff?449xu8") format("woff"), url("../../app/icons/icomoon.svg?449xu8#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-Path:before {
  content: "\e900";
}

.icon-chevron-right:before {
  content: "\e901";
}

.icon-menu:before {
  content: "\e9bd";
}

@media only screen and (min-width: 600px) {
  /* For tablets: */
  .col-small-1 {
    width: 8.33%;
  }
  .col-small-2 {
    width: 16.66%;
  }
  .col-small-3 {
    width: 25%;
  }
  .col-small-4 {
    width: 33.33%;
  }
  .col-small-5 {
    width: 41.66%;
  }
  .col-small-6 {
    width: 50%;
  }
  .col-small-7 {
    width: 58.33%;
  }
  .col-small-8 {
    width: 66.66%;
  }
  .col-small-9 {
    width: 75%;
  }
  .col-small-10 {
    width: 83.33%;
  }
  .col-small-11 {
    width: 91.66%;
  }
  .col-small-12 {
    width: 100%;
  }
}

/* Custom tablet breakpoint */
@media only screen and (min-width: 768px) {
  /* For tablets: */
  .col-middle-1 {
    width: 8.33%;
  }
  .col-middle-2 {
    width: 16.66%;
  }
  .col-middle-3 {
    width: 25%;
  }
  .col-middle-4 {
    width: 33.33%;
  }
  .col-middle-5 {
    width: 41.66%;
  }
  .col-middle-6 {
    width: 50%;
  }
  .col-middle-7 {
    width: 58.33%;
  }
  .col-middle-8 {
    width: 66.66%;
  }
  .col-middle-9 {
    width: 75%;
  }
  .col-middle-10 {
    width: 83.33%;
  }
  .col-middle-11 {
    width: 91.66%;
  }
  .col-middle-12 {
    width: 100%;
  }
}

@media only screen and (min-width: 1024px) {
  /* For desktop: */
  .col-large-1 {
    width: 8.33%;
  }
  .col-large-2 {
    width: 16.66%;
  }
  .col-large-3 {
    width: 25%;
  }
  .col-large-4 {
    width: 33.33%;
  }
  .col-large-5 {
    width: 41.66%;
  }
  .col-large-6 {
    width: 50%;
  }
  .col-large-7 {
    width: 58.33%;
  }
  .col-large-8 {
    width: 66.66%;
  }
  .col-large-9 {
    width: 75%;
  }
  .col-large-10 {
    width: 83.33%;
  }
  .col-large-11 {
    width: 91.66%;
  }
  .col-large-12 {
    width: 100%;
  }
}

/* All devices */
.col-1 {
  width: 8.33%;
}

.col-2 {
  width: 16.66%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.33%;
}

.col-5 {
  width: 41.66%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.33%;
}

.col-8 {
  width: 66.66%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.33%;
}

.col-11 {
  width: 91.66%;
}

.col-12 {
  width: 100%;
}

[class*="col-"] {
  display: inline-block;
  vertical-align: middle;
}

.navigation {
  padding-top: 52px;
  padding-bottom: 52px;
}

.brand {
  width: 98px;
  float: left;
  margin-left: 10.3px;
  display: inline-block;
  vertical-align: middle;
}

.navigation-list {
  font-size: 0;
}

@media only screen and (min-width: 768px) {
  .navigation-list {
    padding-top: 6px;
    float: right;
    margin-right: 28px;
  }
}

@media only screen and (min-width: 120px) and (max-width: 767px) {
  .navigation-list {
    display: none;
    position: relative;
    width: 100%;
  }
}

.navigation-list__item {
  margin: 0 9.6px;
  text-align: center;
  position: relative;
  display: inline-block;
  vertical-align: middle;
}

@media only screen and (min-width: 768px) {
  .navigation-list__item:last-of-type {
    margin-right: 0;
    position: relative;
    left: 14px;
  }
}

@media only screen and (min-width: 120px) and (max-width: 767px) {
  .navigation-list__item {
    display: block;
    margin: 0;
    padding: 20px 0;
  }
}

.navigation-item__item-link {
  font-size: 14px;
  text-transform: uppercase;
  padding: 0 16.8px;
  padding-bottom: 17px;
  color: #808080;
  letter-spacing: 0.9px;
}

.navigation--active {
  border-bottom: 1px solid #fa292c;
  margin-bottom: -1px;
  color: #fdfdfd;
}

/* dropdown */
.dropdown {
  border: 1px solid #5c5c5c;
  border-top: 1px solid #fa292c;
}

.dropdown a {
  line-height: 47px;
  font-size: 12px;
  color: #fff;
  letter-spacing: 0.8px;
  transition: 0.4s;
}

.dropdown a:hover {
  opacity: 0.6;
}

.navigation li {
  transition: 0.4s;
}

.navigation li:hover {
  opacity: 0.6;
}

.navigation li:hover {
  cursor: pointer;
}

.navigation ul li ul {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  margin-top: 16px;
  left: 16px;
  padding: 0 15px;
  display: none;
  width: 140px;
  height: 135px;
  padding-right: 19px;
}

@media only screen and (min-width: 120px) and (max-width: 767px) {
  .navigation ul li ul {
    position: relative;
    margin: 0 auto;
    left: 0;
    margin-top: 20px;
  }
}

.navigation ul li:hover > ul,
.navigation ul li ul:hover {
  visibility: visible;
  opacity: 1;
  display: block;
}

.navigation ul li ul li {
  width: 100%;
  border-bottom: 1px solid #5c5c5c;
  text-align: left;
  margin-top: -2px;
  max-height: 47px;
}

.navigation ul li ul li:hover {
  opacity: 0.6;
}

.navigation ul li ul li:last-of-type {
  border-bottom: 0;
}

.navigation-button {
  padding: 17px 29px;
  background-color: #333333;
  color: white;
  border-radius: 3px;
  border: 1px solid transparent;
  transition: 0.4s;
}

.navigation-button:hover {
  background-color: transparent;
  border: 1px solid #333333;
}

/* mobile menu */
.hamburger {
  display: none;
}

@media only screen and (min-width: 120px) and (max-width: 767px) {
  .hamburger {
    display: inline-block;
    float: right;
    cursor: pointer;
  }
}

.navigation-list.active {
  display: table;
}

.hamburger.active .bar:nth-child(2) {
  opacity: 0;
}

.hamburger.active .bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

.hamburger.active .bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  transition: all 0.3s ease-in-out;
  background-color: #fdfdfd;
}

/* Slideshow container */
.slideshow-container {
  max-width: 100%;
  position: relative;
  margin: auto;
  height: 136.4vh;
}

/* Hide the images by default */
.mySlides {
  display: none;
  overflow: hidden;
  height: inherit;
  background-size: contain;
  background-repeat: no-repeat;
}

@media only screen and (min-width: 120px) and (max-width: 767px) {
  .mySlides {
    background-position: center;
  }
}

.mySlides:first-of-type {
  background-color: #000002;
}

.mySlides__image {
  width: 100%;
}

.mySlides__image:first-of-type {
  width: 89%;
}

/* Next & previous buttons */
.prev,
.next {
  background-color: #262626;
  font-size: 12px;
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -26px;
  padding: 18px 21px;
  color: white;
  font-weight: bold;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  border: 1px solid #414141;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  /* Translate icon */
  transform: scaleX(-1);
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: black;
  background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.mySlides__description {
  color: #f2f2f2;
  font-size: 15px;
  padding-top: 243px;
  padding-bottom: 243px;
  text-align: center;
  height: inherit;
  text-align: left;
}

@media only screen and (min-width: 120px) and (max-width: 767px) {
  .mySlides__description {
    padding-top: 104px;
    padding-bottom: 104px;
  }
}

.mySlides__description-main-heading {
  font-size: 48px;
  max-width: 440px;
  line-height: 57px;
  margin-top: 18px;
  font-weight: 700;
}

.mySlides__description-paragraph {
  font-size: 14px;
  line-height: 26px;
  margin-top: 42px;
  max-width: 350px;
  padding-left: 49px;
  position: relative;
  color: #cdc4c5;
}

.mySlides__description-paragraph:before {
  content: "";
  border-left: 2px solid #fa292c;
  right: 30px;
  top: 8px;
  position: absolute;
  left: 18px;
  width: 2px;
  height: 61px;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

.about-us-section {
  padding-top: 20px;
  padding-bottom: 20px;
}

@media only screen and (min-width: 1025px) {
  .about-us-section {
    min-height: 730px;
  }
}

@media only screen and (min-width: 768px) {
  .about-us-section {
    padding-top: 57px;
    padding-bottom: 57px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .about-us {
    padding: 0 14px;
  }
}

.about-us__car {
  position: relative;
}

@media only screen and (min-width: 1025px) {
  .about-us__car {
    top: 117px;
  }
}

@media only screen and (min-width: 120px) and (max-width: 767px) {
  .about-us__car {
    top: 0;
  }
}

.about-us__car-image {
  position: relative;
  z-index: 1;
}

.about-us__car-rectangle {
  height: 520px;
  position: absolute;
  top: -125px;
  width: 63%;
  left: 97px;
  margin: 0 auto;
  background-color: #212121;
  display: none;
}

@media only screen and (min-width: 1025px) {
  .about-us__car-rectangle {
    display: block;
  }
}

.about-us__car-rectangle-paragraph {
  font-style: italic;
  font-family: Montserrat, Helvetica, sans-serif;
  position: absolute;
  bottom: 34px;
  font-size: 14px;
  letter-spacing: 0.1px;
  left: 28px;
  color: #909090;
}

.about-us-description {
  position: relative;
  padding-top: 19px;
}

@media only screen and (min-width: 1025px) {
  .about-us-description {
    padding-left: 112px;
    top: 110px;
  }
}

.about-us-description__main-heading {
  font-size: 39px;
  line-height: 47px;
  margin-top: 16px;
  font-weight: 700;
  letter-spacing: -0.5px;
}

.about-us-description__paragraph {
  font-size: 20px;
  font-family: Montserrat, Courier, monospace;
  margin-top: 41px;
  line-height: 30px;
}

.about-us-description__second-paragraph {
  font-family: Montserrat, Courier, monospace;
  line-height: 26px;
  margin-top: 18px;
}

.featured-section {
  padding: 54px 0px;
  background-repeat: no-repeat;
  background-position: center;
}

@media only screen and (min-width: 1025px) {
  .featured-section {
    background-position: 45% 44%;
    background-size: 121%;
  }
}

.featured-section__main-heading {
  font-size: 38px;
  font-weight: bold;
  margin-top: 17px;
  color: #fff;
}

.featured-section__paragraph {
  margin-top: 24px;
  line-height: 26px;
  max-width: 560px;
  font-size: 14px;
  color: #cec5c6;
}

.featured-section__cards {
  padding-top: 40px;
}

@media only screen and (min-width: 120px) and (max-width: 767px) {
  .featured-section__cards {
    text-align: center;
  }
}

.featured-section__card {
  background-color: #fff;
  background-color: rgba(255, 255, 255, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.2);
  min-height: 145px;
  width: 165px;
  margin-right: 30px;
  color: #fff;
  display: inline-block;
  vertical-align: middle;
}

@media only screen and (min-width: 120px) and (max-width: 767px) {
  .featured-section__card {
    margin-right: 0;
  }
}

.featured-section__card:last-of-type {
  margin-right: 0;
}

.featured-section__cards-caption {
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 2.4px;
  display: block;
  padding: 0 24px;
  padding-top: 25px;
  text-align: center;
}

.featured-section__cards-value {
  font-size: 28px;
  display: block;
  padding: 24px 31px;
  padding-bottom: 0;
  font-weight: bold;
  text-align: center;
  font-family: Montserrat, Helvetica, sans-serif;
}

.featured-section__cards-second-value {
  display: block;
  font-size: 13px;
  letter-spacing: 0.7px;
  padding-top: 15px;
  font-family: Montserrat, Helvetica, sans-serif;
  text-align: center;
  font-style: italic;
}

.featured-section__cards-second-value:first-of-type {
  position: relative;
  right: 2px;
}

@media only screen and (min-width: 1025px) {
  .products-section {
    min-height: 715px;
  }
}

.products-section__content {
  padding-top: 124px;
}

.products-section__content-heading {
  font-weight: bold;
  font-size: 38px;
  text-align: center;
}

.products-section__products {
  padding-top: 60px;
}

.products-section__products-panel {
  border: 1px solid #f3f3f5;
  border-radius: 4px;
  max-width: 263px;
  text-align: center;
  padding-top: 30px;
  margin-right: 29px;
  min-height: 390px;
  display: inline-block;
  vertical-align: middle;
  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  /* Firefox 3.5 - 3.6 */
  box-shadow: 0 8px 6px -3px #f3f3f5;
  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}

.products-section__products-panel:nth-of-type(2) {
  padding-top: 32px;
}

.products-section__products-panel:nth-of-type(3) {
  padding-top: 27px;
}

.products-section__products-panel:last-of-type {
  margin-right: 0;
  padding-top: 22px;
}

.products-section__products-panel-caption {
  display: block;
  margin-top: 20px;
  font-family: Montserrat, Helvetica, sans-serif;
  font-size: 14px;
}

.products-section__products-panel-heading {
  font-weight: bold;
  font-size: 20px;
  margin-top: 12px;
}

.products-section__list {
  margin-top: 24px;
  text-align: left;
  line-height: 30px;
  padding-left: 19px;
}

.products-section__list-icon {
  margin-right: 9px;
  font-size: 7px;
}

.products-section__list-item {
  font-size: 13px;
  font-family: Montserrat, Helvetica, sans-serif;
  color: #989db0;
}

.products-section__footer {
  margin-top: 17px;
  margin-left: 19px;
}

.products-section__column {
  text-align: left;
}

.products-section__footer-caption {
  font-size: 13px;
  margin-top: 3px;
  display: block;
  color: #989db0;
}

.products-section__footer-price {
  font-weight: bold;
  margin-top: 8px;
  font-size: 20px;
}

.products-section__button {
  background-color: #fee9e8;
  color: #fa2a2a;
  border-radius: 30px;
  padding: 10px 17px;
  margin-left: 23px;
  border: 1px solid transparent;
  margin-top: 10px;
  font-size: 11px;
  transition: 0.4s;
  transition: 0.4s;
}

.products-section__button:hover {
  cursor: pointer;
  background-color: transparent;
  border: 1px solid #fa2a2a;
}

.contact-section {
  background-repeat: no-repeat;
  background-image: url("IMAGE_URL"), linear-gradient(#eb01a5, #d13531);
}

@media only screen and (min-width: 1025px) {
  .contact-section {
    background-position: -47.5% 84%;
  }
}

.contact-section__content {
  padding-top: 121px;
  padding-bottom: 121px;
}

.contact-section__content-heading {
  font-family: "Montserrat", Helvetica, sans-serif;
  font-size: 49px;
  font-weight: bold;
  padding-top: 17px;
  letter-spacing: -0.5px;
  line-height: 58px;
  color: #fff;
}

.contact-section__form {
  max-width: 457px;
  margin-left: auto;
  max-height: 518px;
  background-color: #011f05;
  border-radius: 2px;
}

.contact-section__form-content-elements {
  height: 60px;
}

.contact-section__form-content {
  padding-top: 50px;
  padding-bottom: 50px;
  position: relative;
}

.contact-section__content-column {
  vertical-align: top;
}

@media only screen and (min-width: 120px) and (max-width: 1024px) {
  .contact-section__content-column {
    width: 100%;
  }
}

.contact-section__form-content-elements,
.contact-section__form-content-message,
.contact-section__form-button {
  font-family: "Roboto Condensed", Helvetica, sans-serif;
  display: block;
  margin: 0 auto;
  margin-bottom: 30px;
  width: 79.4%;
  text-transform: uppercase;
  padding-left: 13px;
  letter-spacing: 1px;
  font-size: 14px;
  border-radius: 4px;
  border: 2px solid #5a6f5e;
  background-color: #27402a;
  color: #9b9c9e;
}

.contact-section__form-button {
  max-width: 25%;
  max-width: 28%;
  font-size: 16px;
  padding-left: 5px;
  height: 57px;
  transition: 0.4s;
}

@media only screen and (min-width: 1025px) {
  .contact-section__form-button {
    position: relative;
    right: 21px;
  }
}

.contact-section__form-button:hover {
  cursor: pointer;
  background-color: #9b9c9e;
  color: #27402a;
}

.contact-section__form-content-message {
  height: 150px;
  padding-top: 20px;
}

.contact-section__form-placeholder {
  color: red;
  position: absolute;
  font-size: 10px;
}

.contact-section__form-placeholder.first-placeholder {
  left: 190px;
  top: 73px;
}

.contact-section__form-placeholder.second-placeholder {
  top: 163px;
  left: 193px;
}

.contact-section__form-placeholder.third-placeholder {
  left: 169px;
  top: 253px;
}

.footer {
  position: relative;
  bottom: 47px;
  /* Firefox fix */
  margin-bottom: -47px;
}

.footer__column {
  font-family: "Roboto Condensed", Helvetica, sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #8d8e90;
}

.footer__list {
  text-align: right;
}

@media only screen and (min-width: 1200px) {
  .footer__list {
    position: relative;
    left: 135px;
  }
}

.footer__list-item {
  display: inline-block;
  vertical-align: middle;
}

@media only screen and (min-width: 1200px) {
  .footer__list-item {
    margin-right: 26px;
  }
}

.footer__list-item-link {
  font-size: 14px;
  color: inherit;
  transition: 0.4s;
}

.footer__list-item-link:hover {
  opacity: 0.6;
}

/* The products-section__modal (background) */
.products-section__modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 9999;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.8);
  /* Black w/ opacity */
}

/* products-section__modal Content/Box */
.products-section__modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  /* 15% from the top and centered */
  border: 1px solid #888;
  width: 60%;
  /* Could be more or less, depending on screen size */
}

/* The Close Button */
.products-section__modal-close {
  font-size: 28px;
  font-weight: bold;
  position: absolute;
  right: -22px;
  top: -22px;
  width: 45px;
  height: 45px;
  color: #fff;
  background-color: #000;
  border-radius: 50%;
  border: 1px solid transparent;
  transition: 0.4s;
}

.products-section__modal-close:hover, .products-section__modal-close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
  background-color: #fff;
  border: 1px solid #000;
}

.products-section__modal-close:after {
  content: "\00D7";
  display: block;
  padding-top: 6px;
}

.products-section__modal-content {
  border-radius: 17px;
  position: relative;
  min-height: 400px;
}

.products-section__modal-column:first-of-type {
  float: left;
}

.products-section__modal-car {
  background-color: #efeff4;
  padding: 58px 0;
  max-height: 398px;
  border-top-left-radius: 17px;
  border-bottom-left-radius: 17px;
}

.new-tag {
  position: absolute;
  background-color: #8d2df6;
  color: #fff;
  padding: 6px 12px;
  border-radius: 6px;
  font-size: 14px;
  left: 72px;
}

.products-section__modal-car-image {
  min-width: 57%;
}

.products-section__modal-car-caption {
  display: block;
  margin-top: 17px;
}

.products-section__modal-car-heading {
  margin-top: 17px;
  font-weight: bold;
}

.products-section__modal-button {
  margin: 0 auto;
  margin-top: 0px;
  background-color: #202020;
  color: white;
  max-width: 200px;
  margin-top: 40px;
  border-radius: 12px;
  padding: 12px 0;
  margin-bottom: 21px;
}

.products-section__modal-button-caption {
  font-size: 14px;
  color: #858585;
}

.products-section__modal-button-price {
  margin-top: 10px;
}

.products-section__modal-info {
  text-align: left;
  padding: 45px 0;
}

.products-section__modal-info-main-heading {
  font-weight: bold;
}

.products-section__modal-info-second-heading {
  font-size: 17px;
  margin-top: 10px;
  color: #8f8f8f;
}

.products-section__modal-info-checkbox,
.products-section__modal-info-paragraph,
.products-section__modal-info-pricing {
  display: inline-block;
  vertical-align: middle;
}
/*# sourceMappingURL=main.css.map */