.contact-section {
    background-repeat: no-repeat;
    background-image: url("IMAGE_URL"), linear-gradient(#eb01a5, #d13531);
    @include breakpoint("desktop") {
        background-position: -47.5% 84%;
    }
}

.contact-section__content {
    padding-top: 121px;
    padding-bottom: 121px;
}

.contact-section__content-heading {
    font-family: "Montserrat", Helvetica, sans-serif;
    font-size: 49px;
    font-weight: bold;
    padding-top: 17px;
    letter-spacing: -0.5px;
    line-height: 58px;
    color: #fff;
}

.contact-section__form {
    max-width: 457px;
    margin-left: auto;
    max-height: 518px;
    background-color: #011f05;
    border-radius: 2px;
}

.contact-section__form-content-elements {
    height: 60px;
}

.contact-section__form-content {
    padding-top: 50px;
    padding-bottom: 50px;
    position: relative;
}

.contact-section__content-column {
    vertical-align: top;
    @include breakpoint("mobile-tablet") {
        width: 100%;
    }
}

.contact-section__form-content-elements,
.contact-section__form-content-message,
.contact-section__form-button {
    font-family: "Roboto Condensed", Helvetica, sans-serif;
    display: block;
    margin: 0 auto;
    margin-bottom: 30px;
    width: 79.4%;
    text-transform: uppercase;
    padding-left: 13px;
    letter-spacing: 1px;
    font-size: 14px;
    border-radius: 4px;
    border: 2px solid #5a6f5e;
    background-color: #27402a;
    color: #9b9c9e;
}

.contact-section__form-button {
    max-width: 25%;
    max-width: 28%;
    font-size: 16px;
    padding-left: 5px;
    height: 57px;
    @include transition(0.4s);
    @include breakpoint("desktop") {
        position: relative;
        right: 21px;
    }
    &:hover {
        cursor: pointer;
        background-color: #9b9c9e;
        color: #27402a;
    }
}

.contact-section__form-content-message {
    height: 150px;
    padding-top: 20px;
}

.contact-section__form-placeholder {
    color: red;
    position: absolute;
    font-size: 10px;
    &.first-placeholder {
        left: 190px;
        top: 73px;
    }
    &.second-placeholder {
        top: 163px;
        left: 193px;
    }
    &.third-placeholder {
        left: 169px;
        top: 253px;
    }
}
