.navigation {
    padding-top: 52px;
    padding-bottom: 52px;
    // @include flexbox;
}

.brand {
    width: 96px;
    background: silver;
    @include inline-block;
}

.navigation-list {
    font-size: 0;
    padding-top: 6px;
    margin-left: auto;
    @include inline-block;
}

.navigation-list__item {
    @include inline-block;
    padding: 0 32px;
    &:nth-of-type(2) {
        position: relative;
        right: 10px;
    }
    &:nth-of-type(3) {
        position: relative;
        right: 23px;
    }
    &:nth-of-type(4) {
        position: relative;
        right: 4px;
    }
}

.navigation-item__item-link {    
    font-size: 13.5px;
    text-transform: uppercase;
    font-family: Roboto, Helvetica, sans-serif;
}

.navigation--active {
    border-bottom: 2px solid $accent-color;
    margin-bottom: -2px;
}