.website-wrapper {
    max-width: $desktop-wrapper-width;
    margin: 0 auto;
    padding: 0 20px;
    width: 100%;
    font-size: 0;
    // @include breakpoint("tablet") {
    //     max-width: $tablet-wrapper-width;
    // }
    // @include breakpoint("phone") {
    //     max-width: $mobile-wrapper-width;
    // }
}

.navigation-wrapper {
    max-width: $navigation-wrapper-width;
    margin: 0 auto;
    padding: 0 20px;
    width: 100%;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    right: 0;
    @include breakpoint("phone") {
        background-color: rgba(0, 0, 0, 0.8);
    }
}

%clearfix {
    &:before,
    &:after {
        content: " ";
        display: table;
    }
    &:after {
        clear: both;
    }
}
