$desktop-wrapper-width: 1180px;
$tablet-wrapper-width: 708px;
$mobile-wrapper-width: 360px;

$navigation-wrapper-width: 1424px;

$navigation-height: 104px;

$accent-color: #fa292c;
$nero-black: #212121;